# Python
venv/
__pycache__/
*.pyc

# Environment variables (IMPORTANT)
.env

# OS junk
.DS_Store

# Logs
*.log

# Node (frontend)
frontend/node_modules/
frontend/dist/

# Optional (large / not needed)
KDDTrain+.txt
